{
    "hardware": "LX06",
    "account": "",
    "password": "",
    "openai_key": "",
    "cookie": "",
    "mi_did": "",
    "use_command": false,
    "mute_xiaoai": false,
    "verbose": false,
    "bot": "chatgptapi",
    "enable_edge_tts": false,
    "edge_tts_voice": "zh-CN-XiaoxiaoNeural",
    "keyword": ["帮我", "请回答"],
    "start_conversation": "开始持续对话",
    "end_conversation": "结束持续对话",
    "stream": false,
    "gpt_options": {}
}
