name: CI

on:
  push:
    branches: [ main, better_prompt]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: install python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip' # caching pip dependencies
      - name: Check formatting (black)
        run: |
          pip install black
          black . --check
      - name: Check install
        run: |
          pip install .
          xiaogpt --help

      - name: test
        run: |
           nohup xiaogpt --hardware LX06 --account ${{ secrets.MI_USERNAME }} --password ${{ secrets.MI_PASSWORD }} --use_chatgpt_api --mute_xiaoai --enable_edge_tts --stream!! &
           wait $!
           exit $?

  build-image:
    runs-on: ubuntu-latest
    needs: testing
    # run unless event type is pull_request
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: yihong0618/xiaogpt:latest
